@keyframes backgroundChange {
  0% { background-image: url('../assets/bgImages/1.jpg'); }
  20% { background-image: url('../assets/bgImages/2.jpg'); }
  40% { background-image: url('../assets/bgImages/3.jpg'); }
  50% { background-image: url('../assets/bgImages/4.jpg'); }
  80% { background-image: url('../assets/bgImages/5.jpg'); }
  100% { background-image: url('../assets/bgImages/6.jpg'); }
}

.animated-background {
  position: relative;
  animation: backgroundChange 8s infinite;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.animated-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.308); 
  z-index: 1;
}

.animated-background > * {
  position: relative;
  z-index: 2;
}
.logo-text {
  font-family: 'Poppins', sans-serif; /* You can choose another stylish font */
  font-weight: 900; /* Extra bold */
  font-size: 1.5rem; /* Adjust as needed */
  background: linear-gradient(90deg, #ff7e5f, #feb47b, #e1e786, #e391ea); /* Gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  text-transform: uppercase; /* Makes the text uppercase */
  letter-spacing: 1px; /* Adds spacing between letters */
}
